/**

 */
 .slick-slide {
  margin: 0 10px;
  position: relative;
} 
.slick-track{
  height: 100%;
}
.ss-container img {
  width: 100% !important;
  height: 450px;
  object-fit: cover;
}
.slick-slide:not(.slick-current) {
  opacity: 0.3;
}
 .slick-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function,
          initial);
  box-sizing: content-box;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  box-shadow: 0pt 2pt 6pt rgba(0, 0, 0, .2);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
  display: none !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center;
}

.swiper-rtl .swiper-button-next svg,
.swiper-rtl .swiper-button-prev svg {
  transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 5px);
  right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset,5px);
  left: auto;
}

.swiper-button-lock {
  display: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: #000;
  font-weight: 800;
}

.swiper {
    width: 100%;
    height: fit-content;
  }

  .slick-wrapper {
    height: 450px;
    position: relative;
  }

  .swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
.swiper-slide>a{
  display: flex;
  height: 100%;
  width: 100%;
}
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    /* width: 80%; */
    padding-left: 0px;
    padding-right: 0px;
  }

  .swiper-slide.swiper-slide-active {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }

  .swiper-slide.swiper-slide-active .container-sinfo {
    padding-left: 15px;
    padding-right: 15px;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    position: relative;
  }

  .swiper-slide-prev::after,
  .swiper-slide-next::after {
    opacity: 0.5;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
  }

/* pagination */
.slick-dots li{
  margin: 0;
  height:8px;
  width: 8px;
  margin: 0 6px;
}
.slick-dots li button {
  padding:0;
  margin: 0;
  height:8px;
  width: 8px;
}
.slick-dots li button:before {
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50px;
  background-color: #888888;
  opacity: 1;
}
.slick-dots li.slick-active button:before{
  opacity: 1;
}
.slick-dots li.slick-active button::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  animation: sizeInc 0.5s ease forwards;
  border: 2px solid #BDBDBD;
}
@keyframes sizeInc {
  from {
      width: 0px;
      height: 0px; 
  }
  to {
      width: 18px;
      height: 18px;
  }
}
/*  */

/* content */
  .container-sinfo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .slideimg-info {
    background: transparent;
    padding: 0 0 0 85px;
  }

  .slideimg-info h1 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Avenir Next Condensed;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 25px;
  }

  .slideimg-info p {
    color: #FFF;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.50);
    font-family: Avenir Next;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 365px;
    margin: 0 0 25px;
  }

  .slider-options {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .slider-options a {
    text-decoration: none;
    background: #E0E21F;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    color: #000;
    font-family: Avenir Next Condensed;
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.92px;
  }

  .slideimg-info.special-offer {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  .special-offer h2 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Avenir Next;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  .special-offer h1 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.50);
    font-family: Avenir Next;
    font-size: 64px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    text-transform: none;
  }

  .special-offer p {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: Avenir Next;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .so-product-opt {
    display: flex;
    align-items: center;
    gap: 25px;
    border-top: 1px solid #fff;
    margin: 40px auto 0;
    padding: 15px 0;
  }

  .so-product-opt a {
    color: #FFF;
    text-decoration: none;
    font-family: Avenir Next Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.92px;
    position: relative;
    overflow: hidden;
  }

  .so-product-opt h1 {
    color: #FFF;
    text-align: center;
    font-family: Avenir Next Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    line-height: normal;
    letter-spacing: 1.68px;
  }

  .so-product-opt a:after {
    background: #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }

  .so-product-opt a:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
  }

  .so-product-opt a:hover {
    text-decoration: underline !important;
  }

  .desktop-sliderimg {
    display: block;
  }

  .tablet-sliderimg,
  .mobile-sliderimg {
    display: none;
  }

  @media (max-width:1200px) {
    .so-product-opt {
      gap: 20px;
    }
    .so-product-opt a {
      font-size: 14px;
    }
  }

  @media (max-width:992px) {
    .desktop-sliderimg {
      display: none;
    }

    .tablet-sliderimg {
      display: block;
    }

    .special-offer h1 {
      font-size: 36px;
    }

    .special-offer h2 {
      font-size: 20px;
    }

    .special-offer p {
      font-size: 16px;
    }

    .so-product-opt {
      flex-wrap: wrap;
      gap: 15px;
    }

    .so-product-opt a {
      width: calc(50% - 15px);
      text-align: center;
    }

    .so-product-opt h1 {
      width: 100%;
      font-size: 14px;
    }

    .slideimg-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .slideimg-info p {
      text-align: center;
    }
  }

  @media (max-width:768px) {
    .slick-slide {
      margin: 0 5px;
    }
    .swiper-slide {
      width: calc(100% - 50px);
    }

    .swiper-slide.swiper-slide-active {
      padding-left: 5px;
      padding-right: 5px;
    }

    .slideimg-info h1 {
      text-align: center;
    }

    .slider-options {
      flex-direction: column;
    }
    .swiper-button-next, .swiper-button-prev {
      height: 40px;
      width: 40px;
  }
  }

  @media (max-width:600px) {
    .tablet-sliderimg {
      display: none;
    }

    .mobile-sliderimg {
      display: block;
    }
  }